@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --dark-blue-color: #022563;
  --dark-bg-color: rgba(37, 37, 37, 0.5);
  --blue-color: #063293;
  --light-gradient-color: #4ec2ec;
  --dark-gradient-color: #3f4e9d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue-color);
  color: white;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: white;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
}

h2 {
  font-size: 6rem;
  line-height: 12.8rem;
  font-weight: 800;
}
h3 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
h4 {
  font-size: 2.2rem;
  font-weight: 700;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
}

.u-shimmering-gradient-hover {
  transition: background 0.2s;
}
.u-shimmering-gradient-hover:hover {
  background: linear-gradient(270deg, #423af5, #4ec2ec);
  background-size: 600% 600%;
  animation: shimmer 3s ease infinite;
}
@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.separator {
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(
    to right,
    var(--dark-gradient-color),
    var(--light-gradient-color)
  );
  margin: 0.8rem 0;
}